<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Adicione um novo carro</mat-card-title>
    </mat-card-header>
    <div class="file-input">
      <input type="file" (change)="onFileSelected($event)" multiple>
      <span>Selecione uma imagem</span>
    </div>
    <div class="container-capa" *ngFor="let safeUrl of safeImageUrls">
      <h1>Foto utilizada para capa:</h1>
      <img class="img-capa" [src]="safeUrl" alt="Imagem">
    </div>
    <mat-card-content>
      <form (submit)="createCar()">
        <mat-form-field>
          <input matInput placeholder="Placa" [(ngModel)]="placa" name="placa" required appPlaca>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Chassi" [(ngModel)]="chassi" name="chassi" required appChassi>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Renavam" [(ngModel)]="renavam" name="renavam" required appRenavam>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Modelo" [(ngModel)]="modelo" name="modelo" required appMaxLength>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Marca" [(ngModel)]="marca" name="marca" required appMaxLength>
        </mat-form-field>
        <mat-form-field>
          <input class="file-name" matInput type="number" placeholder="Ano" [(ngModel)]="ano" name="ano" required appAno>
        </mat-form-field>
        <button mat-raised-button type="submit">Criar Carro</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>