<mat-card>
  <mat-card-header>
    <mat-card-title>Adicione um novo carro</mat-card-title>
    <div *ngFor="let safeUrl of safeImageUrls">
      <img [src]="safeUrl" alt="Imagem">
    </div>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="createCar()">
      <mat-form-field>
        <input matInput placeholder="Placa" [(ngModel)]="placa" name="placa" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Chassi" [(ngModel)]="chassi" name="chassi" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Renavam" [(ngModel)]="renavam" name="renavam" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Modelo" [(ngModel)]="modelo" name="modelo" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="marca" name="marca" required>
      </mat-form-field>
      <mat-form-field>
        <input class="file-name" matInput type="number" placeholder="Ano" [(ngModel)]="ano" name="ano" required>
      </mat-form-field>
      <input type="file"  (change)="onFileSelected($event)" multiple>
      <button mat-raised-button type="submit">Criar Carro</button>
    </form>
  </mat-card-content>
</mat-card>
