@import '~ngx-toastr/toastr';

:host { display: flex; flex-direction: column; align-items: flex-start; }

.mat-form-field{ display: block; }

.mat-form-field-wrapper{ position: relative; margin-bottom: 10px;}

form{ width: 400px; margin: 0 auto; padding: 60px;}

.background-none { background-color: transparent!important;}

button{ background: #00c8b3; color: #ffffff; border-radius: 25px; padding: 17px 20px; width: 100%; border: 1px solid; transition: 0.3s;}

button:hover{ opacity: 70%;}

button:disabled{ color: #dddcdc; background: #f6f6f6; cursor:not-allowed; } 

button:disabled:hover{ opacity: 1; }

@keyframes spinner {
   to {transform: rotate(360deg);}
 }
 
 .spinner:before {
   content: '';
   box-sizing: border-box;
   position: absolute;
   top: 57%;
   left: 50%;
   width: 20px;
   height: 20px;
   margin-top: -10px;
   margin-left: -10px;
   border-radius: 50%;
   border: 2px solid transparent;
   border-top-color: #ffffff;
   animation: spinner .8s linear infinite;
 }

 @media screen and (max-width:768px) {
    form{ width: 300px; margin: 50px auto; padding: 0px;}
    .spinner:before{top: 38%;}
 }

 @media screen and (max-width: 1024px){
  .spinner:before{top: 42.6%;}
 }